body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin:0;
    height: 100%;
}

.outer{
    max-height:100vh;
    min-height:110vh;
    
    
    overflow-y: scroll;
    
	
	/* scroll-snap-type: proximity; */
	/* scroll-snap-points-y: repeat(1300px); */
    scroll-snap-type: none;
    text-decoration:none;
    /* margin-right:-5px !important; */
    /* padding-right:0px !important; */
    /* right:0 !important; */
    /* overflow-x: hidden; */
   
    overflow-x: hidden;
    

}
.inner {
	border-bottom: 1px solid white;
	/* scroll-snap-align: start; */
	/* background-color:grey */
    /* scroll-snap-stop: always; */
/*  */
    min-height:100vh;
    /* border: 3px solid rgb(0, 255, 85); */
    list-style-type:none;
    text-decoration:none;
    overflow-y: hidden;
    /* margin-right:-5px !important;
    padding-right:0px !important;
    right:0 !important;
    overflow-x: hidden; */
    overflow-x: hidden;
}
.fancy{
    background-color:white;
    padding:20px;

}
.blog_sec{
    padding-top:15%;
    background-image: url("../media/shed.jpg");
    background-size: cover;
    background-color:rgba(255, 255, 255, 0.486);
    /* border:5px solid */
    /* min-width:130vh !important; */
    margin-bottom:200px;
}

.u{
    text-align:center;
    font-size:20px;
}

.scroller{
    padding:0px !important;
    margin-right:-5px !important;
    padding-right:0px !important;
    right:0 !important;
    right:-5px !important;
    max-width:100vw;
}

:root{
    /* --color: linear-gradient(rgb(162, 240, 37), rgb(6, 2, 253), rgb(255, 166, 0));  */
}
.im{
    border-top:2px solid;
    border-image-source: var(--color);
    border-image-slice: 3;
}
.one{
    /* background-color:rgb(82, 82, 82); */
    /* background-image: url('static/media/bng.jpg'); */
    background-image: url("../media/bng.jpg");
    background-size: cover;

}
.item2{
    /* border:1px solid blue; */
    /* font-size:30px; */
    /* margin-left:100px; */
    padding-left:100px;
    padding-right:100px;
    padding-top:25px;
    padding-bottom:25px;
    border:3px solid rgb(255, 255, 255);
    /* border-radius:20px; */
    /* background-color:rgb(102, 102, 102); */


    /* border:2px solid rgb(255, 255, 255); */
 
    color:rgb(255, 255, 255);
    background-color:rgba(255, 255, 255, 0);
    /* padding-left:50px; */
    /* padding-right:50px; */
    border-radius: 10px;
    /* text-transform: uppercase; */
    font-size:30px;
    /* min-width:200px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:2%; */
    min-width:500px;
    font-weight:100;
    max-width:400px;
    transition: 0.3s;
    
}

.item2:hover{
    transition: 0.3s;
    border-color:rgba(255, 255, 255, 0);
    /* background-color:rgba(146, 146, 146, 0.404); */
    color:rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 3px rgb(194, 255, 51);
    background-color:rgba(0, 0, 0, 0.198);
 }
 .item2:focus{
    outline: none !important;
    box-shadow: 0px 0px 2px 3px #A3C84A;
  }
  .item2:active{
     box-shadow: 0px 0px 2px 3px #A3C84A;
 }
.al{
  
    /* height:500px; */
    /* border:1px solid green; */
}

.r{
    /* border:2px solid red; */
    margin-top:40px;
}
.cl{
    /* border:10px solid purple;  */
    
}
.cont{
    margin-top:18%;
}

.two{
    background-color:rgb(255, 255, 255);
}

.top_bit{
    /* border:1px solid green; */
    /* margin-top:18%; */
    padding-top:100px;
}
.title{
    font-size:30px;
    color:rgb(0, 0, 0);
    text-align:center;
    font-weight:200;
}
.title-n{
    font-size:40px;
    color:rgb(0, 0, 0);
    text-align:center;
    font-weight:400;
}
.title2{
    font-size:30px;
    color:rgb(0, 0, 0);
    text-align:left;
}
.para{
    font-size:20px;
    color:rgb(0, 0, 0);
    /* text-align:right; */



}
.para3{
    font-size:10px !important;
}
.para4{
    font-size:20px;
    color:rgb(0, 0, 0);
    text-align:center;
}
.para2{
    font-size:20px;
    color:rgb(0, 0, 0);
    /* text-align:right; */
}
.image{
    width:500px;
    float:right;
}
.h{
    border:1.5px solid rgb(0, 0, 0);
    margin-bottom:20px;
}
.h2{
    border:0.5px solid rgb(0, 0, 0);
    margin-top:40px;
}

.three{
    /* background-color:rgb(126, 126, 126); */
    /* min-height:100vh; */
    
}

.center{
    text-align:center;
    width:500px;
    margin-top:20px;
}
.ul{
    color white;
}

.li{
    /* color:white; */
    font-size:20px;
    margin-left:150px;
    font-weight:500;
}
.ul2{
    margin-top:100px;
}
.li2{
    color:rgb(0, 0, 0);
    font-size:20px;
    /* margin-left:150px; */
   
    
}

.ul3{
    margin-top:70px;
}
.li3{
    color:rgb(0, 0, 0);
    font-size:15px;
    text-align:left;
}

.stand{
    width:222px;
    margin-top:70px;
    /* margin-left:-40px; */
}

.second{
    width:400px;
    margin-left:-150px;
    margin-top:70px;
}


.revision{
    margin-top:75px;
}

.title-r{
    font-size:15px;
    color:white;
    margin-bottom:-15px;
    text-align:center;
    text-decoration: underline;
}
.se{
    height:100vh !important;
}
/* .systems_h{
    text-align:center;
    font-size:30px;
}

.item{
    font-size:25px;
    
}
.res{
    

.systems_top{
    margin-top:40px;
    margin-left:10%;
}
.item2{
    list-style-type:none;
    color:black;
}
.item2:hover{
    color:#A3C84A;
}
.systems_img{
    max-width:300px;
}
.res_img{
    max-width:400px;
}
.res_h{
    font-size:25px;
}
.bat_h{
    text-align:center;
    font-size:25px;
}

.zero{
    padding:0 !important;
    margin-bottom:0 !important;
}

.sp_h{
    font-size:25px;
}

 */


.services-title{
    text-align:center;
    font-size:25px;titk
    font-weight:400;
    color:rgba(166, 255, 0, 0.637);
}
.services-title2{
    text-align:center;
    font-size:45px;
    color:white;
}

.green{
    border:6px solid rgba(197, 214, 39, 0.89);
    margin-top:0px;
    margin-bottom:30px;
}
.green-2{
    border:6px solid rgba(231, 231, 231, 0.89);
    margin-top:0px;
    margin-bottom:30px;
}
.bot{
    margin-top:30px;
    
}
.mini{
    
    margin-left:-15vw;
    border:2px solid rgba(197, 214, 39, 0.89);
    padding:20px;
    border-radius: 10px;
    width:35vw;
    max-height:240px;
    font-size:18px;
    /* padding-bottom:30px; */
    /* margin-bottom:10px; */
  
    
}
.mixbox{
    margin-top:50px;
    
}

ul.no_bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li.tick {
    background: url('../media/tick.png') no-repeat left top;
    height: 54px;
    padding-left: 44px;
    padding-top: 1px;
    min-width:250px;
    
}
.li{
    margin-left:60px;
}
.td1{
    border:1px solid rgb(197, 197, 197);
    padding-right:8vw;
    padding-top:25px;
    padding-bottom:5px;
   
    
}
.tick-btn{
    background-color:rgba(197, 214, 39, 0.89);
    padding-top:20px;
    padding-bottom:20px;
    font-weight:500;
    transition: 0.3s;
    margin-top:10px !important;
    color:black;
    padding-left:35%;
    
}
.tick-btn:hover{
    color:white;
    /* border:2px solid rgb(109, 109, 109); */
    background-color: rgba(146, 160, 26, 0.89);
    text-decoration: none;
    cursor: pointer;
    
}

.table1,.tick-btn{
    /* max-width:487px !important; */
    /* padding:0 !important; */
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.164);
}
.col-centered{
    float: none;
    margin: 0 auto;
    
}

.second-img{
    width: 100%;
    height: auto;
    max-width: 100%;
    
}

.second-para{
    /* color:white; */
   
}

.battery-text{
    /* font-size:20px; */
    font-size:1.1rem;
    /* max-width:400px; */

}
.battery-text > span{
    /* font-size:14px; */
    font-size:0.9rem;
    max-width:300px;
}

.second-row-second{
    /* margin-top:10vh; */
    /* margin-right:50px; */
    /* margin-bottom:50px; */
    padding:100px;
}
.battery-col{
    padding-left:0px !important;
}
.battery-col > img{
    float:right;
    
}
    
.top_bit2{
    padding-top:50px;
}

.battery-col{
    /* box-shadow: 4px 20px 5px rgba(10, 10, 0, 0.164); */
    /* min-width:200px;
    padding:0px;
    max-width:250px; */
}