

.footer-container{
    /* background-color:rgb(255, 0, 0); */
    width:100%;
    bottom:0;
    padding:0px !important;
    overflow-x: hidden;
    margin-top:;
    overflow-x: hidden !important
}
.under-slide{
    /* margin-top:-30vh; */
}
.under-slide2{
    /* margin-top:-35.5vh; */
}
.top_section{
    background-color:rgb(87, 87, 87);
    height:100%;
    padding-top:20px;
    padding-bottom:10px;
}
.bottom_section{
    background-color:rgb(66, 66, 66);
    /* height:200px; */
    min-height:220px;
    
}
.bottom_section > .col{
    max-height:50px;
}
.my-btn{
    border:none;
    border: 1px solid white;
    padding:5px;
    color:white;
    border-radius: 20px;
    padding-left:30px;
    padding-right:30px;
    /* margin-left:-150px; */
    margin-top:40px;
    
}
.my-btn:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(172, 172, 172);
    text-decoration:none;
}
.social{
    margin-top:10px;
    height:50px;
    width:50px;
}

.a_li{
    list-style-type:none;
    text-decoration: none;
    color: white;
    font-size:15px;
    margin-top:20px;
}
.system-inq{
    color:white;
}
.b_li{
    list-style-type:none;
    text-decoration: none;
    color: white;
    font-size:20px;
}

.copyright{
    color:white;
    font-size:12px;
    margin-top:20px;
    min-widtH:150px;
    text-align:center;
}
.hidden-phone{
    display: none;
}
.show-c{
    display:none;
}

.socials{
    min-width:140px;
}


@media only screen and (max-width: 3400px) {
    .tnc{
        font-size:10px;
        
    }
  }
