body{
    overflow-x:hidden;
}
.outer{
    background-image: url("../media/about_bng.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden !important;
    overflow-y:hidden !important;
    padding-top:100px;
    
     
}
p{
    /* font-size:18px; */
}
