    <table style="border:2px solid grey;" padding:1px; margin:px;" class="table table-hover">
        <tr style="padding:px;">
            <td style="">
                <a style="padding-bottom:px;" href="{{ url_for('user', username=post.author.username) }}">
                    
                    <img style="border-radius: 55px; padding:px;" src="{{ post.author.avatar(70) }}" />

                </a>
            </td>
            <td style=" font-size:15px;">
                <a style="font-size: 20px;"ref="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }} 
                    <h1 style="font-size:13px;"> Yass Valley Solar Managing Director </h1>
                    <h1 style="font-size:15px">Blogpost: <span style="color:green">{{ post.lol }}</span></h1>
                    
                </a>
                 
                <br>
                <p style="color:rgb(0, 0, 0)">{{ post.body }}</p>
                <br>
            </td>
        </tr>
    </table>
    <style>
        .table-hover tbody tr:hover {
            background-color:rgba(255, 255, 255, 0)!important;
        }
        .table-hover tbody tr {
            /* background-color:rgba(255, 255, 255, 0.486) !important; */
        }

    </style>
