<div class="post-link card">
        <div class="px-3 pt-3 row">
            <div class="col">
                <h5 class="card-title text-decoration-none">Blogpost: <span style="color:rgb(176, 189, 0)">{{ post.timestamp }}</h5>
            </div>
        </div>
        <div class="px-3 pt-3 row">
            
            <div class="col-md-2 text-center mr-0 pr-0">
                <img style="border:3px solid rgb(194, 233, 19);"class="mx-0 px-0 rounded-circle" src="{{ post.author.avatar(70) }}" />
            </div>
            <div class="col-md-10 mx-0 px-0">
                    <div class="px-2 pt-0 card-body">
                        <h5 class="m-0 card-title">{{ post.author.username }} </h5>
                        <h5 class="m-0 text-muted card-title"><small>Yass Valley Solar Managing Director</small></h5>
                        <p class="p-3 card-text">{{ post.body }}</p>
                        {% if post.link %}
                             <a class="" href="{{ post.link }}">Testimonials</a> 
                        {% else %}
                            <!-- do nothing  -->
                        {%  endif %}
                        
                    </div>
            </div>
        </div>
</div>

<script>
$(document).ready(function() {

    $(".post-link").on('click', function(){
            window.location = "/ind_posts/{{ post.id }}";    
    });

});
</script>


