{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block app_content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    <div class="jumbotron jumbotron-fluid outer">
        <div class="container">
            <div class="row">
                <div class="blog-top col col-12 col-sm-12 col-md-6 col-lg-6">
                    <h1>Blogpost: <span class="green-span"style="color:rgb(138, 193, 93)">{{ single.lol }}</span></h1>
                </div>
                <div class="name-top col col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="my-row row">
                                <div class="avatar-col col-2">
                                    <img style="border-radius: 55px; padding:px;" src="{{ single.author.avatar(70) }}" />
                                </div>
                                <div class="title-col col ">
                                    <h1 class="big"> {{ single.author.username }} </h1>
                                    <h1 class="smal">Yass Valley Solar Managing Director </h1>
                                </div>
                            </div>  
                </div>
            </div>
            <div class="text-row row">
                <div class="text-col col">
                    <p style="text-align:left"> {{single.body }}</p>
                    
                    <div class="fb-video" data-href="https://www.facebook.com/DeSignsByJoe/videos/986694055000797/" data-width="500" data-show-text="false"><blockquote cite="https://developers.facebook.com/DeSignsByJoe/videos/986694055000797/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/DeSignsByJoe/videos/986694055000797/"></a><p>Rebrand completed for Yass Valley Solar (formerly Ygrene Energy)

                            ⚡ Partial wrap ute signage
                           
                           ⚡ Shop signage
                           
                           ⚡ Fleet graphics
                           
                           ⚡ Promotional event signage
                           
                           Contact us for your next signage project!
                           
                           #yassvalley #solar #branding #rebrand #signage #vehiclesignage #shopfront #benoticed</p>Posted by <a href="https://www.facebook.com/DeSignsByJoe/">DeSigns by Joe</a> on Sunday, October 27, 2019</blockquote></div>
                </div>
            </div>
        </div>
    </div>


{% include 'footer.html' %}

{% endblock %}