{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block app_content %}

<style>
    .sol > form > .btn{
        border:5px solid rgba(197, 214, 39, 0.89);
    }
</style>
<br>
<br>
<br>
<h1 style="color:white">wassssupppp</h1>
    <div class="container sol" style="margin-top:50px; margin-bottom:30%;">
        <!-- <h1>Hi, {{ current_user.username }}!</h1> -->
        {% if form %}
        {{ wtf.quick_form(form) }}
        <br>




        
        {% endif %}
        {% for post in posts %}
            {% include '_post2.html' %}
        {% endfor %}
        <nav aria-label="...">
            <ul class="mt-2 pager">
                <li style="display:inline-block"previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Newer posts
                    </a>
                </li>
                <li style="margin-left:20px;display:inline-block"class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Older posts <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


{% include 'footer.html' %}
{% endblock %}