{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}



<div class="container ">
    <div class="container">
        <h1 id="a" name="a" class="title lead center-block jumbotron-heading text-align-center">Your guide to Off-Grid power systems </h1>
        <hr class="my-2">
        <div class="row ">
            <div class="col-md">
                <p class="lead min"><i>
                                                                <p class="para">Welcome to the world of Off-Grid power! <br>

                                                                        At Ygrene Energy, we seek to provide an exceptional experience
                                                                        by giving you a thorough understanding of the whole process.
                                                                        We provide all of the information required to decide on the
                                                                        right system that covers all of your needs whilst providing many
                                                                        years of trouble-free operation. <br>

                                                                        Throughout the years of building and installing Off-Grid systems
                                                                        for our clients, we have learned a lot and met
                                                                        some pretty amazing people along the way. <br>

                                                                        It is our hope that we can pass this experience on to you and
                                                                        that the information is helpful.<br>
                                                                        <br>
                                                                        I look forward to speaking soon.<br>
                                                                        <br>

                                                                        Tim Davaris<br> Managing Director <br>Ygrene Energy

                                                        </i></p>
            </div>
        </div>



        <div class="row">
            <div class="img_con col-md  center-block text-center">
                <img class=" img1 center-block text-center" src="{{url_for('static', filename='media/shed2.jpg') }}" />
            </div>


        </div>

    </div>
</div>


<div class="container ">
    <div class="container top_bit">
        <h1 id="a" name="a" class="title2 lead center-block jumbotron-heading text-align-center">Why Off-Grid?
        </h1>
        <hr class="my-2">
        <div class="row ">
            <div class="col-md">
                <p class="para2 lead min">
                    Off-Grid power systems can deliver a great alternative to expensive grid infrastructure and independence from grid power. Living off the grid is a great experience and modern systems mean that you will notice few differences from grid power.<br>
                    <br> While Off-Grid systems can deliver extensive amounts of electricity, it is certainly a decision that has to be considered carefully. Some of the factors to include are:

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <ul class="ul1">
                    <li li1>Cost of installing grid power versus off-grid</li>
                    <li li1>Power usage requirements </li>
                    <li li1>Energy efficiency of your house</li>
                    <li li1>Future expansion </li>
                </ul>
                <!-- <img class="center center-block text-center" src="{{url_for('static', filename='media/.jpg') }}"/> -->
            </div>
            <hr class="my-2">
        </div>
    </div>
</div>



<div class="container top_bit">
    <div class="container">
        <h1 id="a" name="a" class="title2 lead center-block jumbotron-heading text-align-center">Where do I start? </h1>
        <hr class="my-2">
        <div class="row ">
            <div class="col-md">
                <p class="para2 lead min">
                    The size of an off-grid system is measured in kW (kilowatt) hours per day and it tells us how much power the system is designed to provide on an average day. This value is different to the kW of the solar array and factors in things such as the size of
                    the battery system and amount of generator run time. <br>

                    <br> We believe that the design stage is the most crucial part of an off-grid system. We work with you to understand your needs and determine the right system size system. As an off-grid system provides power to many different appliances
                    and plays a large role in the operations of a house we take a holistic approach to the design and provide consultation regarding house energy design and appliance selection.


                </p>
                <hr class="my-2">
                <ul class="ul1">
                    <li li1>Cost of installing grid power versus off-grid</li>
                    <li li1>Power usage requirements </li>
                    <li li1>Energy efficiency of your house</li>
                    <li li1>Future expansion </li>
                </ul>
                <!-- <ul class="ul">
                                        <li class="li">Attention to detail</li>
                                        <li class="li">Expert advice</li>
                                        <li class="li">Ongoing support</li>
                                        <li class="li">Battery Storage solutions</li>
                                        <li class="li">Local Canberra region covered</li>
                                    </ul> -->
            </div>
            <div class="col-md">
                <img class="image1" src="{{url_for('static', filename='media/box.jpg') }}" />
            </div>
            <hr class="my-2">
        </div>
    </div>


</div>


<div class="container ">
    <div class="container">
        <h1 id="a" name="a" class="title lead center-block jumbotron-heading text-align-center">System components </h1>
        <hr class="my-2">
        <div class="row ">
            <div class="col-md">

                <h1 class=" title3 lead center-block jumbotron-heading text-align-center">Battery Technology
                </h1>
                <ul class="ul1">
                    <li li2>
                        <p class=" in lead min">
                            <b>Lead Acid Gel (VRLA)</b> batteries are still the battery of choice for many of our off-grid solar system as they deliver unrivalled reliability and a long, maintenance free lifespan. They are able to deliver large amounts
                            of power when needed and are a proven technology that is well suited to medium to large off-grid system.
                        </p>
                    </li>
                    <li li2>
                        <p class=" in lead min">
                            <b>Absorbent Glass Matt (AGM) </b>batteries are also a lead acid battery but typically have a lower price point and a shorter lifespan then a lead acid gel battery. These batteries are well suited to a smaller systems with
                            periodic use such as a weekender.
                        </p>
                    </li>
                    <li li2>
                        <p class=" in lead min">
                            <b>Lithium Iron Phosphate (LiFePO4) </b>Batteries are one of the newer technologies in the off-grid market. While most provide a similar lifespan to a lead acid gel battery they do provide greater flexibility as the they can
                            be added incrementally if additional capacity is needed in the system. When using a lithium battery in an off-grid system it is important that it is suitable for off-grid use and is fully compatible with the selected inverter.
                        </p>
                    </li>
                    <li li2>
                        <p class="in lead min">
                            <b>Flow Batteries</b> such as Redflow are an alternative to traditional battery types and work by moving a zinc bromine solution between two tanks to create a chemical reaction. The have some unique advantages in their ability
                            to discharge to 100% depth of discharge without damage and no loss of capacity over their lifespan, however they are significantly more expensive that most other technologies and have a low round-trip efficiency.
                        </p>
                    </li>
                </ul>




            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="row">
            <div class="img_con2 col-md  center-block text-center">

                <img class=" img2 center-block text-center" src="{{url_for('static', filename='media/bat2.jpg') }}" />
            </div>


        </div>

    </div>
</div>
<div class="container ">
    <div class="container top_bit">
        <h1 id="a" name="a" class="title2 lead  jumbotron-heading ">Solar Panels</h1>
        <hr class="my-2">
        <div class="row ">
            <div class="col-md">
                <p class="para3 lead min">
                    <b>Solar panels –</b> collect energy from the sun and convert it into DC power. The solar array is sized to produce enough power to supply your loads on most days, even through the winter months. The direction and the angle of the
                    solar panels is important as we need to maximize the energy captured by the system particularly through the winter months. There are various options for mounting the solar array including ground mounted systems.
                </p>

            </div>
            <div class="col-md">
                <img class="img-a" src="{{url_for('static', filename='media/panel.jpg') }}" />
            </div>
            <hr class="my-2">
        </div>
    </div>


</div>
<div class="container ">
    <div class="container ">
        <h1 id="a" name="a" class="title2 lead  jumbotron-heading ">Inverters</h1>
        <hr class="my-2">
        <div class="row ">
            <div class="col-md">
                <p class="para3 lead min">
                    <b>Battery Inverter –</b> converts the DC battery power into 240V AC to power loads and also converts 240V AC from the Solar Inverter or Generator to DC to charge the batteries. The battery inverter is the heart of an off-grid system
                    and can enable remote monitoring, controls the charge and discharge of the batteries and automatically starts and stops the generator.<br>
                    <br>
                    <b>Solar Inverter / Charge Controllers – </b>coverts the DC power from the Solar panels into 240V AC in the case of a Solar Inverter and regulates to 48V for the battery in the case of a Charge Controller
                </p>

            </div>
            <div class="col-md">
                <img class="img-b" src="{{url_for('static', filename='media/inv.jpg') }}" />
            </div>
            <hr class="my-2">
        </div>
    </div>


</div>
<div style="margin-bottom:100px;" class="container ">
    <div class="container ">
        <h1 id="a" name="a" class="title2 lead  jumbotron-heading ">Generators and Enclosures</h1>
        <hr class="my-2">
        <div class="row ">
            <div class="col-md">
                <p class="para3 lead min">
                    <b>Generator –</b> Provides a backup power source in case of extended poor weather or increased power usage. While most systems require small amounts of generator support even through the winter months, it provides essential backup
                    no matter what the conditions. A good quality generator is quiet, fuel efficient and reliably auto starts when requested by the battery inverter. <br>
                    <br>
                    <b>Enclosure –</b> houses the inverters, batteries etc and helps protect the equipment from the environment. We custom build each enclosure, prefabricate and test the system in our workshop before heading out to site to do the installation.
                    Enclosures are typically located in a shed or garage but can also be located outdoors if required.
                </p>

            </div>
            <div class="col-md">
                <img class="img-c" src="{{url_for('static', filename='media/gen.jpg') }}" />
            </div>
            <hr class="my-2">
        </div>
    </div>


</div>

<div class="container ">

</div>
{% include 'footer.html' %}
{% endblock %}
