{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}

<div class="outer">
 
                <div class="py-5 container">
                    <h1 class="display-4 text-white-50"> Our Team</h1>
                            <p stlye="font-size:18px;"class="px-5 text-white">
                                From a young age, Growing up and working in an local electrical business, Tim developed a particular fascination with
                                solar and renewable energy. This planted a seed which grew and in 2013 Tim founded
                                Ygrene Energy (now Yass Valley Solar) with the vision of providing the same honest and reliable service to the solar
                                industry that the family electrical business had been providing to their customers for many years.
                            <br>
                            <br>
                                Tim focused on providing the best service possible and found a particular niche in off-grid power
                                systems, were he found significant room for improvement for the traditional installations that were
                                being installed while also continuing to provide commercial and residential solar systems in
                                the area.
                            <br>
                            <br>
                                Today Yass Valley Solar is a thriving business completing a wide array of solar projects and covering a multitude of work
                                scopes.
                                Throughout the evolution of the company, one thing has remained constant - the passion and
                                commitment that each team member has to provide the same honest and reliable service that was
                                instilled into our company culture many years ago.
                            </p>
                </div>
                    
                

                <div class="pb-5 container">

                    <div class="card-columns ">
                            
                            <div class="text-center pb-5 card border pr-1">
                                <div class="row no-gutters pt-1">
                                    <div class="col-md-4">
                                        <img style="border:2px solid #dceb09;max-width:200px"src="{{url_for('static', filename='media/tim2.jpg') }}" class="m-2 rounded-circle card-img-top" alt="Tim Davaris Image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body pl-3 pr-2">
                                            <h5 class="card-title">Tim Davaris</h5>
                                            <p style="min-height:72px" class="card-text">Founder and business development</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                        
                            <div class="text-center pb-5 card border pr-1">
                                <div class="row no-gutters pt-2">
                                    <div class="col-md-4">
                                        <img style="border:2px solid #dceb09; max-width:200px; "src="{{url_for('static', filename='media/lyn2.jpg') }}" class="m-2 rounded-circle card-img-top" alt="Lyn Davaris Image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body pl-3 pr-2">
                                            <h5 class="card-title">Lyn Davaris</h5>
                                            <p style="min-height:72px" class=" card-text">Office manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        
                            <div class="text-center pb-5 card border pr-1">
                                <div class="row no-gutters pt-1">
                                    <div class="col-md-4">
                                        <img style="border:2px solid #dceb09;max-width:200px;"src="{{url_for('static', filename='media/abel.jpg') }}" class=" m-2 rounded-circle card-img-top" alt="Abel Davaris Image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body pl-3 pr-2">
                                            <h5 class="card-title">Abel Davaris</h5>
                                            <p style="min-height:72px" class="card-text">General Manager and Sales</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="card-columns ">

                        <div class="text-center pb-5 card border pr-1 ">
                            <div class="row no-gutters pt-1">
                                <div class="col-md-4">
                                    <img style="border:2px solid #dceb09;max-width:200px;"src="{{url_for('static', filename='media/noah2.jpg') }}" class=" m-2 rounded-circle card-img-top" alt="Noah Davaris Image">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body pl-3 pr-2">
                                        <h5 class="card-title">Noah Davaris</h5>
                                        <p style="min-height:72px" class="card-text">Project manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center pb-5 card border pr-1 ">
                            <div class="row no-gutters pt-2">
                                <div class="col-md-4">
                                    <img style="border:2px solid #dceb09;max-width:200px;"src="{{url_for('static', filename='media/harley2.jpg') }}" class=" m-2 rounded-circle card-img-top" alt="Noah Davaris Image">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body pl-3 pr-0">
                                        <h5 class="card-title">Harley Garside</h5>
                                        <p style="min-height:72px"class="card-text">Apprentice Electrician  </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center pb-5 card border pr-1 ">
                            <div class="row no-gutters pt-2">
                                <div class="col-md-4">
                                    <img style="border:2px solid #dceb09;max-width:200px;"src="{{url_for('static', filename='media/tara2.jpg') }}" class=" m-2 rounded-circle card-img-top" alt="Noah Davaris Image">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body pl-3 pr-0">
                                        <h5 class="card-title">Tara Davaris </h5>
                                        <p style="min-height:72px"class="card-text">Accounting and marketing </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    </div>

                            

                       
                </div>
               
      
                 
                       
                        
            
                
                           
                

                          
                
        </div>
</div>

{% include 'footer.html' %}

{% endblock %}