{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block app_content %}

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="outer">

        <div class="top_bit container">
            <h1 id="a" name="a" class="top_bit title2 lead center-block jumbotron-heading text-align-center">Battery Storage – Certified TESLA POWERWALL Installers</h1>
            <hr style="border:2px solid #abd04d;" class='h'>
            <!-- <hr class="h"> -->
            <div class="row ">
                <div class="col-md">
                    <p class="para2 lead min">
                        Snowy Vet, Cooma
                        <br> 12.48kW solar/ battery storage system
                        <br>
                        <br> We are proud to have installed the first 4 Tesla Powerwall installation in Australia.<br> esigned to cover up to 95% of the Snowy Vets power requirements, this system provides backup power to essential equipment in the event
                        of a power outage including solar charging while in backup mode. The monitoring system provides real time data for energy production, consumption and storage levels.
                    </p>

                </div>

                <div class="col-md">
                    <img class="image" src="{{url_for('static', filename='media/case1.jpg') }}" />
                </div>
            </div>

        </div>


        <div class="top_bit container">
            <h1 id="a" name="a" class="top_bit title2 lead center-block jumbotron-heading text-align-center">100kWp & 60kWp systems Canberra Southern Cross Club</h1>
            <hr style="border:2px solid #abd04d;" class='h'>
            <!-- <hr class="h"> -->
            <div class="row ">
                <div class="col-md">
                    <p class="para2 lead min">
                        Ygrene Energy has recently completed a 100kW solar system at Woden and a 60kW solar system at Jamison for the Canberra Southern Cross Club. The 100kW system is comprised of 400 x 250W solar modules, 5 x 20kW SMA inverters and a state-of-the-art grid protection
                        and monitoring system. These systems will provide ongoing electricity savings and emissions reductions to the Club
                    </p>
                </div>

                <div class="col-md">
                    <img class="image" src="{{url_for('static', filename='media/case2.jpg') }}" />
                </div>

            </div>
        </div>

        <div class="top_bit container">
            <h1 id="a" name="a" class="top_bit title2 lead center-block jumbotron-heading text-align-center">100kWP Martins Fertilizers</h1>
            <hr style="border:2px solid #abd04d;" class='h'>
            <!-- <hr class="h"> -->
            <div class="row ">
                <div class="col-md">
                    <p class="para2 lead min">
                        The 100kW photovoltaic system at Martins Fertilizers in Yass NSW was designed around the clients load profile following an extensive analysis of their electricity consumption. Due to the almost entire daytime operation of the business the system is on
                        track to provide 75% of their total electricity requirements. Using 400 x 250-watt solar modules and 7 x 15kW inverters the system is a fantastic example of solar working for business.
                    </p>
                </div>

                <div class="col-md">
                    <img class="image" src="{{url_for('static', filename='media/case4.jpg') }}" />
                </div>

            </div>
        </div>

        <div class="top_bit container">
            <h1 id="a" name="a" class="top_bit title2 lead center-block jumbotron-heading text-align-center">70kWp Bird Munchies</h1>
            <hr style="border:2px solid #abd04d;" class='h'>
            <!-- <hr class="h"> -->
            <div class="row ">
                <div class="col-md">
                    <p class="para2 lead min">
                        Located in Queanbeyan, NSW this system provides power to a large manufacturing company. With the increase of electricity costs not only does this system provide the greater part of Bird Munchies electricity requirement but it also enables a reduction
                        of the use of natural gas powered equipment.
                    </p>
                </div>

                <div class="col-md">
                    <img class="image" src="{{url_for('static', filename='media/case5.jpg') }}" />
                </div>

            </div>
        </div>

        <div class="top_bit container">
            <h1 id="a" name="a" class="top_bit title2 lead center-block jumbotron-heading text-align-center">100kWP Yass Valley Aged Care</h1>
            <hr style="border:2px solid #abd04d;" class='h'>
            <!-- <hr class="h"> -->
            <div class="row ">

                <div class="col-md">
                    <p class="para2 lead min">
                        This system is comprised of 400 x 250-watt Yingli panels and is located on the rural town of Yass. The remote monitoring system coupled with the irradiance, temperature and wind sensors not only provides valuable data but also helps to provide the highest
                        performance availability possible through constant monitoring of the system. The install took less than a month to complete and CEO Christine Graffiti is extremely impressed.
                    </p>
                </div>

                <div class="col-md">
                    <img class="image" src="{{url_for('static', filename='media/case6.jpg') }}" />
                </div>

            </div>
        </div>

        <div class="top_bit container">
            <h1 id="a" name="a" class="top_bit title2 lead center-block jumbotron-heading text-align-center">100kWP Yass Soldiers Club</h1>
            <hr style="border:2px solid #abd04d;" class='h'>
            <!-- <hr class="h"> -->
            <div class="row ">
                <div class="col-md">
                    <p class="para2 lead min">
                        Ygrene Energy also completed a 100KW system in Yass NSW at the Soldiers Club. Comprised of 432 x 250-watt solar panels it produced an outstanding 862 kW hours of power in a single day during December and January. The General Manager of the club is very
                        happy with the system, as he told Yass Tribune Newspaper that he had received a number of positive comments, including feedback from an external consultant who said the system was one of the best he had ever seen.
                    </p>

                </div>

                <div class="col-md">
                    <img class="image" src="{{url_for('static', filename='media/case7.jpg') }}" />
                </div>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------->
        <br>
        <br>
        <br>
        <br>
        <footer class="footer-container font-small unique-color-dark pt-4">
            <div class=" top_section row justify-content-center align-items-center">
                <ul class="list-unstyled list-inline text-center">
                    <!-- <li class=" list-inline-item">
                        <h5 class=" system-inq">System enquiries</h5>
                        </li> -->
                    <li class="list-inline-item">
                        <a class="my-btn" href="{{ url_for('.contact_us', _anchor='post') }}">Contact Us Now</a>
                    </li>
                </ul>

            </div>
            <div class="row bottom_section">
                <div class="col">
                    <ul class="list-unstyled list-inline text-center ">
                        <li class="">
                            <h1 class="display-4 a_li">During business hours</h1>
                        </li>
                        <li class="">
                            <h1 class="display-4 b_li">(02) 6226 4972</h1>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 center-block justify-content-center align-items-center">
                    <h1 class="copyright">© 2019 Yass Valley Solar </h1>
                </div>
                <div class="col">
                    <ul class="list-unstyled list-inline text-center">
                        <li class=" list-inline-item">
                            <a href="https://www.facebook.com/YgreneEnergyYass/"><img class="social" src="{{url_for('static', filename='media/fb-icon.png') }}" /></a>
                        </li>
                        <li class="  list-inline-item">
                            <a href="https://www.instagram.com/ygrene_energy/?hl=en"><img class="social" src="{{url_for('static', filename='media/in-icon.png') }}" /></a>
                        </li>
                        <li class=" list-inline-item">
                            <a href="https://www.linkedin.com/in/timothy-davaris-7ba47799/"><img class="social" src="{{url_for('static', filename='media/li-icon.png') }}" /></a>
                        </li>
                    </ul>
                </div>


            </div>
        </footer>
    </div>
   

{% endblock %}