{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block app_content %}

<body>
    <div class="container-fluid">
        <div class="container">
           
    
            <div class="row">

                <div class="col-4 pr-0">
                    <div class="gal-item">
                        <figure class="p-0 col">
                            <a onclick="myFunction(this)"class="black-text">
                                <!-- <div class="toi "> -->
                                    <img alt="picture" src="{{url_for('static', filename='media/case1.jpg') }}"class="img-fluid gal-img">
                                    
                                    <h3 class="gal-title my-3">Snowy Vet, Cooma </h3>
                                   
                                    <div class="hide_me hidden flex-container">
                                        <div class="row-s row"> 
                                            <div class="flex-item">
                                                <h3>12.48kW solar/ battery storage system</h3>
                                            </div>
                                            <div class="flex-item">
                                                <p> 
                                                    We are proud to have installed the first 4 Tesla Powerwall installation in Australia.<br> esigned to cover up to 95% of the Snowy Vets power requirements, this system provides backup power to essential equipment in the event
                                                    of a power outage including solar charging while in backup mode. The monitoring system provides real time data for energy production, consumption and storage levels.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                            </a>
                            
                        </figure>
                      
                    </div>
                </div>

                <div class="col-4 pr-0">
                    <div class="gal-item">
                        <figure class="p-0 col">
                            <a onclick="myFunction(this)" class="black-text">
                                <img alt="picture" src="{{url_for('static', filename='media/case2.jpg') }}" class="img-fluid gal-img" />
                                <h3 class="gal-title my-3">100kWp & 60kWp systems Canberra Southern Cross Club</h3>
                            
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-4 pr-0">
                    <div class="gal-item">
                        <figure class="p-0 col">
                            <a onclick="myFunction(this)" class="black-text">
                                <img alt="picture" src="{{url_for('static', filename='media/case4.jpg') }}" class="img-fluid gal-img" />
                                <h3 class="gal-title my-3">100kWP Martins Fertilizers</h3>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-4">
                    <div class="gal-item">
                        <figure class="col">
                            <a onclick="myFunction(this)"class="black-text">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(104).jpg" class="img-fluid" />
                                <h3 class="text-center my-3">Photo title</h3>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-4">
                    <div class="gal-item">
                        <figure class="col">
                            <div class="gal-item"></div>
                            <a onclick="myFunction(this)"class="black-text">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(104).jpg" class="img-fluid" />
                                <h3 class="text-center my-3">Photo title</h3>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-4">
                    <div class="gal-item">
                        <figure class="col">
                            <a onclick="myFunction(this)"class="black-text">
                                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(104).jpg" class="img-fluid" />
                                <h3 class="text-center my-3">Photo title</h3>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
                    
                               
            
        </div>
    </div>
<script>
        function myFunction(elmnt) {
            $(elmnt).children(".hidden").toggleClass("hide_me");
            
        }
        </script>
  <script>
        // MDB Lightbox Init
    $(function () {
    $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });
  </script>
</body>

{% include 'footer.html' %}
{% endblock %}