{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block app_content %}
<br>
<br>
<br>
<br>
<style>
    body{
        overflow-y:visible !important;
    }
</style>
<div class="container">
            <br>
            <br>
            <br>
            <h2 style="text-align:center "id="supplyandinstallationagreement">Supply and Installation Agreement</h2>

            <h1 style="text-align:center " id="termsandconditions">Terms and Conditions</h1>

            <p><strong>Definitions</strong></p>

            <p>The <strong>Supplier</strong> is Ygrene Energy Pty Ltd<br>
            The <strong>Client</strong> is the customer as named on the accompanying quotation which forms part of this agreement.<br>
            The <strong>Property</strong> is the location as named on the accompanying quotation which forms part of this agreement.<br>
            The <strong>Price</strong> is as stated on the accompanying quotation which forms part of this agreement.<br>
            The <strong>Solar Technology</strong> is as listed in the description on the accompanying quotation which forms part of this agreement. <br>
            <strong>Acceptance</strong> of this Agreement is by signing the accompanying quotation which forms part of this agreement.</p>

            <p><strong>Section 1 Technology</strong></p>

            <p><strong>1.1</strong> The Client agrees to purchase the Solar Technology from the Supplier and for the Supplier to install the
            Solar Technology at the Property on the terms of this Agreement and the Client agrees to be bound by this
            Agreement on and from Acceptance.</p>

            <p><strong>1.2</strong> The Supplier agrees to install the Solar Technology on the Property in a good and professional manner and
            be bound by this Agreement on and from Acceptance.</p>

            <p><strong>1.3</strong> The Supplier reserves its right to terminate this Agreement for any reason within 5 business days of
            Acceptance.</p>

            <p><strong>Section 2 Purchase Price and Amount Payable</strong></p>

            <p><strong>2.1</strong> The Client agrees to pay the Deposit of 10% of the Price to the Supplier on or forthwith after Acceptance.</p>

            <p><strong>2.2</strong> The Deposit is forfeited to the Supplier if this Agreement is terminated as a result of the Clients default.</p>

            <p><strong>2.3</strong> Advertised amounts are subject to logistical variation.</p>

            <p><strong>2.4</strong> The Client agrees to pay the progress payments as follows.
                a. 40% of the Price on Completion of the installation of the solar equipment prior to commissioning.
            (Progress Payments)
                b. Completion of each stage will occur on the date on which the Supplier provides written notification to the
                Client of completion of the stage together with an interim invoice for payment of that stage.</p>

            <p><strong>2.5</strong> The balance of the Price (Price less the Deposit and Progress Payments) must be paid to the Supplier
            upon Final completion</p>
            <p><strong>2.6</strong> The Client agrees that any changes made by the Client to the scope of works set out in this contact
            or construction drawings supplied to the Client by the Supplier at time of signing will be at
            additional cost to the Client.</p>
           <p><strong>2.7</strong> Unless otherwise stated in the quotation, any preparatory site works including demolition,
            excavation, earthmoving or trenching shall be the responsibility of the Client and as such the Client
            will be responsible for any costs incurred therein.</p>
           <p> <strong>2.8</strong> Unless otherwise stated in the quotation, The Client is responsible for coordination of the
            smart/net/solar meter upgrade with their electricity retailer. The Supplier will provide all necessary
            documents to the Client for this purpose.</p>
            <strong>Section 3 Authority to Install</strong></p>

            <p><strong>3.1</strong> The Client authorizes the Supplier to install the Solar Technology at the Property.</p>

            <p><strong>3.2</strong> The person(s) signing this Agreement warrants that they have full authority to enter into this Agreement.
            The Client must ensure that the Supplier has sufficient access to the Property at the times it may reasonably
            require in order to install or remove the Solar Technology. If, during the process of installation, some or all of the
            Solar Technology are affixed, attached to the Property or any building on the Property, the goods are deemed not
            to be a fixture and may be removed by the Supplier at any time in accordance with this Agreement.</p>

            <p><strong>3.3</strong> The Client must sign all documents and take all action the Supplier requires to install the Solar Technology.</p>

            <p><strong>Section 4 Authority to Remove on Termination and Costs Payable on Termination</strong></p>

            <p><strong>4.1</strong> If this Agreement is terminated because of the Clients default, the Supplier may remove the Solar
            Technology from the Property if any amount remains due and payable to the Supplier under this Agreement 15
            days after the date of termination.</p>

            <p><strong>4.2</strong> The proceeds from any sale of Solar Technology (net of the cost of their removal and sale) may be set off
            against any amount due from the Client to The Supplier under this Agreement.</p>

            <p><strong>4.3</strong> If the Client lists or sells the property after Acceptance and there is money payable by the Client to the
            Supplier, then the Client agrees that such money outstanding is secured over the Property and the Supplier is
            entitled to lodge a caveat over the title of the Property.</p>

            <p><strong>Section 5 Ownership and Risk</strong></p>

            <p><strong>5.1</strong> Ownership of Solar Technology on the Client’s property passes to the Client after the Client has:
            a. Paid the Price in full to the Supplier; and
            b. Completed any documents, or taken any action that The Supplier requires under this Agreement.</p>

            <p><strong>5.2</strong> Insurance risk in respect to the Solar Technology passes to the Client upon delivery of the Solar Technology
            components to the Property.</p>

            <p><strong>5.3</strong> Except as agreed herein or required by law, all express and implied warranties are excluded and The
            Supplier shall not be liable for any physical injury, financial loss or damage (whether direct or consequential)
            arising from the supply &amp; installation of the Solar Technology.</p>

            <p><strong>Section 6 Rebates &amp; Environmental Rights</strong></p>

            <p><strong>6.1</strong> The Supplier does not warrant that the Client will receive any grant, rebate, credit, other benefit or be
            entitled to create the environmental rights which the Client requests for the Property.</p>

            <p><strong>6.2</strong> The Client authorizes the Supplier to sign and apply for any grant, rebate, credit or other benefit (including
            renewable energy certificates) in the Clients name and to receive payment of that grant, rebate or benefit on the
            Clients behalf.</p>

            <p><strong>6.3</strong> The Client or The Supplier must sign all documents and take all action the Supplier requires in order for The
            Supplier to obtain the benefit of the full amount of the grant, rebate, credit or other benefit (including renewable
            energy certificates)</p>

            <p><strong>6.4</strong> The quantity and the dollar value of the renewable energy certificates (small-scale technology certificates) at
            the time of signing this Agreement are stated in this Agreement. The Supplier reserves its right to adjust the
            final 'balance to pay' upwards if, at the time of installation, the value and/or quantity of the renewable energy
            certificates (small-scale technology certificates) is devalued by Government interference.</p>

            <p><strong>6.5</strong> The Supplier has no responsibility if the Client is ever required to repay the grant, rebate, credit or other
            benefit to a government authority.</p>

            <p><strong>6.6</strong> The Client must sign the forms required to assign the benefit of any environmental rights included in the
            grant, rebate, credit or other benefit to the Supplier.</p>

            <p><strong>Section 7 Termination</strong></p>

            <p><strong>7.1</strong> The Supplier may terminate this Agreement if the Client fails to comply with its terms.</p>

            <p><strong>7.2</strong> The Client may elect not to buy the Solar Technology if they are not installed at the Property within 90 days
            after the date of this Agreement.</p>

            <p><strong>7.3</strong> If the Client ceases to own the Property before Final Completion, the Supplier may terminate this
            Agreement. If so, the Client will forfeit the Deposit to the Supplier.</p>

            <p><strong>7.4</strong> If the Client notifies the Supplier in writing of the Clients decision to terminate this Agreement pursuant to
            clause 7.2 then the Client’s Deposit will be refunded to the Client within 30 days of receipt of such notification
            and the Solar Technology can be used by the Supplier for another customer.</p>

            <p><strong>Section 8 Failure to Pay</strong></p>

            <p><strong>8.1</strong> If the Client fails to pay any amount that is due and payable under this Agreement, interest accrues at the
            rate applicable to judgment debts in the Supreme Court on the amount outstanding until payment is received.</p>

            <p><strong>8.2</strong> The Client will also have to pay the Supplier any costs associated with recovery of the unpaid amount
            (Including, but not limited to, legal costs).</p>

            <p><strong>Section 9 - Warranties
            9.1</strong> The Supplier warrants that once the Solar Technology is installed, the installation will comply with all
            relevant Australian standards or, where they do not exist, with the relevant international standard and with all
            relevant codes of practice, building codes, local government and legislative requirements in place at the time of
            installation.</p>

            <p><strong>9.2</strong> The Supplier will repair at its cost any damage to the Property that is caused in installing the Solar
            Technology provided that the Client notify The Supplier of that damage within 3 months after Final Completion.</p>

            <p><strong>9.3</strong> The Supplier warrants its workmanship in installing the Solar Technology for 10 years from Final
            Completion, but any interference or tampering with the installation voids that warranty.</p>

            <p><strong>9.4</strong> The Client accepts the manufacturer's warranty over goods comprising the Solar Technology.</p>

            <p><strong>Section 10 Performance</strong></p>

            <p><strong>10.1</strong> The performance of the Solar Technology is subject to a number of variable factors including but not limited
            to the number of hours of sunlight, cloud cover and weather patterns, the location of the Solar Assets and the
            location of surrounding structures and flora.</p>

            <p><strong>10.2</strong> The Supplier will use its best endeavors to install the Solar Technology in a position that is likely to
            maximize the performance of the Solar Assets and to provide an accurate estimate of the output of the system.</p>

            <p><strong>10.3</strong> The Supplier does not guarantee the performance of any Solar Technology and accepts no responsibility if
            the performance of any components of the Solar Technology are lower than anticipated. This clause does not
            affect or diminish the manufacturer’s warranties in relation to the Solar Technology.</p>

            <p><strong>Section 11</strong></p>

            <p><strong>Exclusion of Warranties and Liability</strong></p>

            <p><strong>11.1</strong> The Supplier does not make any representations or warranties to the Client in connection with any Solar
            Technology or their installation, except for those warranties set out in this Agreement and those warranties,
            which cannot be excluded, from this Agreement.</p>

            <p><strong>11.2</strong> To the extent permitted by law, the Supplier liability for breach of any express or implied condition or
            warranty is limited to the repair or replacement of the relevant Solar Technology.</p>

            <p><strong>11.3</strong> To the maximum extent permitted by law, the Supplier has no liability to the Client for breach of this
            Agreement other than as is set out in clause 11.2 and, in particular, the Supplier has no liability to pay any
            damages or compensation for breach of this Agreement.</p>

            <p><strong>Section 12 GST</strong></p>

            <p><strong>12.1</strong> The Price includes applicable GST. If a Supply under this Agreement is a Taxable Supply, then at or before
            the time the consideration for the Supply is payable the Client must pay all applicable GST as part of the
            consideration, and the Supplier must give the Client a Tax Invoice for the Supply.</p>

            <p><strong>Section 13 Information, Privacy &amp; Government Legislation</strong></p>

            <p><strong>13.1</strong> The Client will provide The Supplier with all information it requires from the Client to apply for any grant,
            rebate, credit or other benefit, which the Client may be entitled to receive from any Government authority. The
            Client authorizes the Supplier to apply for credit information about the Client.</p>

            <p><strong>13.2</strong> The information collected by the Supplier may include "personal information" within the meaning of the
            Privacy Act 1988</p>

            <p><strong>13.3</strong> The Supplier will collect information from the Client for the purposes of applying for the grant, rebate,
            credit or other benefit on the Client’s behalf. Accordingly, the Supplier may disclose that information to or with:</p>

            <p>a. The relevant Government authorities;</p>

            <p>b. The Supplier related bodies corporate, agents and contractors (such as mail houses, data processing analysts
            and debt collection agencies); and</p>

            <p>c. Where relevant, the Clients distributor, where required to fulfill its obligations under this Agreement and
            also for any other purpose the Client consent to or as authorized by law.</p>

            <p><strong>13.4</strong> By accepting this Agreement, the Client consents to the Supplier collecting, using and disclosing
            the Clients information as set out in this Agreement.</p>

            <p><strong>13.5</strong> The Client and the Supplier agree to comply with any legislation and regulation or law
            concerning the subject matter of this Agreement.</p>

            <p><strong>Section 14 Miscellaneous</strong></p>

            <p>14.1 This Agreement sets out the entire agreement between the Client and the Supplier.</p>

            <p>14.2 In this Agreement, a reference to any legislation is a reference to that legislation, and any legislation that
            repeals or replaces it, as in force from time to time.</p>

            <p>14.3 In this Agreement those terms which are capitalized have the meaning as set out in the Definitions section
            at the start of this Agreement.</p>

</div>
<br>
    <br>
{% include 'footer.html' %} 
{% endblock %}