{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block app_content %}
<style>
    body{
        overflow-y:visible !important;
    }
    blockquote{
        font-size:20px;
        color:rgb(0, 0, 0);
        font-weight:500;
    }
    blockquote > span{
        color:black;
    }
    img {
        image-orientation: from-image;
    }
    hr{
        background-color:rgb(187, 204, 30);
        height:2px;
    }
</style>


<div style="min-height:100vh;" class="container-fluid"> 
       
    <div style="border:1px solid rgb(255, 255, 255); padding-left:5vw;padding-right:5vw;padding-top:20vh;"class="container">
        <div class="row">
            <div class="col-4">
                <h1 style="color:#303c42;font-weight:400;border-bottom:1px solid rgb(226, 226, 226);"class="display-4">Testimonials</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i><h1 class="display-3 pb-5"style="font-size:30px;text-align:center "> Own Your Energy</h1></i>
            </div>
        </div>  
    </div>

    
        
    <i>
    <div style="padding-bottom:10vh;" class="row">
        <div class="col text-center">
            <img style="max-width:25vw;"class="" src="{{url_for('static', filename='media/house2.jpg') }}" />
        </div>
    </div>

            

    <div class="container">
                <div style="margin-left:5vw;margin-right:5vw;" class="p-4 row">
                    <div class="col">
                        <blockquote style="font-weight:unset !important; text-align:left">
                            "The guys are still here working on the panels. They are very polite and efficient. Very happy with your customer service. Thanks again,"
                        <br>&nbsp;<span>~Jared, Feb 2020</span> 
                        </blockquote>
                    </div>
                </div>
                <br>
    </div>

    <div style="margin-left:15vw;margin-right:15vw;"class=" container-fluid">
                <div  class="p-0 row">
                    <div style="max-width:500px"class="p-4 col">
                        <blockquote>
                            "We are very happy with the install process.  The team that came out were polite, thorough and kept me in the loop of what was happening
                            at all time.  The end product is a neat job and seems to be functioning well."
                            <br><span>&nbsp;~ Brent, Feb 2020</span>
                            <hr>
                        </blockquote>
                    </div>
                    <div style="" class="p-0 col">
                        <img style="max-width:20vw;"class="" src="{{url_for('static', filename='media/resi.jpeg') }}" />
                    </div>
                </div>
                <br>
    </div>

    <div class="container">
                <div style="margin-left:5vw;margin-right:5vw;" class="row">
                    <div class="p-5 col">
                        <blockquote style="font-weight:unset !important">
                            "The job was done very professionally and pleasantly - our compliments!"
                    <br>&nbsp;<span>~Sarah Feb, 2020</span>
    
                        </blockquote>
                    </div>
                </div>
    </div>

    <div style="margin-left:5vw;margin-right:15vw;"class=" container-fluid">
        <div class="pt-5 row">
            <div  class="p-0 col">
                <img style="float:right;image-orientation: from-image;max-width:400px;"class="" src="{{url_for('static', filename='media/spec4.jpeg') }}" />
            </div>
            <div style="" class="col p-5 ">
                <blockquote style="max-width:500px; text-align:right">
                    "Everyone has been very professional .. went smoothly, with the guys being very hard-working, helpful, polite and also leaving an impressive
                    tidy jobsite… We appreciate everyone’s efforts. "
                    <br><span>&nbsp;~Katrina, Nov 2019</span>
                   
                    <hr>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container">
        <div style="margin-left:5vw;margin-right:5vw;" class="pt-5 row">
            <div class="p-5 col">
                <blockquote style="font-weight:unset">
                "Thankyou for the prompt install, the guys you sent where very professional, polite and very well organised ….. Great job from them.
                    Especially as it was a horrible day at over 35 degrees."
                    <br><span>&nbsp;~Jenny Dec 2019</span>
                </blockquote>
            </div>
        </div>
        <br>
    </div>

    <div style="margin-left:15vw;margin-right:15vw; "class=" container-fluid">
        <div class="pt-5 row">
            <div style="max-width:500px" class="p-5 col">
                <blockquote>
                    "John and I would like to thank all the members of your company for their kindness and high level of professionalism in all stages of our 
                    solar panel installation."
                    <br><span>&nbsp;~Rosemary, Jan 2020</span>
                </blockquote>
            </div>
            <div style=""class="col p-0">
                <img style="image-orientation: flip !important; max-width:400px;"class="" src="{{url_for('static', filename='media/spec5.jpeg') }}" />
            </div>
        </div>
    </div>
<!-- 
    <div class="container pt-5">
        <div style=""style="border:2px solid black;"class="row pt-5">
            <div class="col py-4 text-center">
                <blockquote style='font-weight:unset !important;'>
                    
                    &nbsp;<span></span>

                </blockquote>
            </col>
            </div>
        </div>

    </div> -->
<br>

    <div style=""class=" container">
        <div class="pt-5 row">
            <div  class="p-0 col">
                <img style="float:right;image-orientation: from-image;max-width:400px;"class="" src="{{url_for('static', filename='media/rep.jpeg') }}" />
            </div>
            <div style="" class="col p-5 ">
                <blockquote style="font-size:18px;max-width:500px; ">
                    "We recently had a bore dug and the other contractor always had always an excuse why he couldn't help 
                    us out. So I gave Tim a call and he was not only able to give me a quote the next day at short notice, 
                    but was also able to fit the pump and solar system within two weeks. He explained everything and the price 
                    and workman ship was fantastic.
                    I would 100% recommend this company to everyone so friendly and professional thanks again.
                    Steve and Karen"
                    <br>
                    <br><span>&nbsp;~Steve, March 2020</span>
                   
                    <hr>
                </blockquote>
            </div>
        </div>
    </div>
  
    <div class="container py-5">
           
        <div style="margin-left:5vw;margin-right:5vw; "class="pb-5 row">
            <div class="col">
                <blockquote>
                    <!-- "I would just like to thank you and your team for making this a painless experience and how professional you have all been giving us 
                    confidence in what seems to be a market with a lot of sharks in it.... What is also great is that you employ young local people."

                    <br>&nbsp;~Clive, March 2020 -->

                </blockquote>
            </div>
        </div>

</div>
</i>
</div>

{% include 'footer.html' %} 
{% endblock %}